<app-imagem-padrao />
<form class="login100-form validate-form">

	<span class="login100-form-title p-b-34 p-t-27">
		Criar reserva
	</span>

	<div class="wrap-input100 validate-input">
    <select [(ngModel)]="nomeDoLivro" name="nomeDoLivroSelect">
      <option value="">Todos</option>
      <option *ngFor="let livro of livros" [value]="livro">{{ livro }}</option>
    </select>
	</div>

	<div class="container-login100-form-btn">
		<button type="submit" class="login100-form-btn">
			Criar Reserva
		</button>
	</div>
</form>

<div class="text-center p-t-90">
	<a class="txt1" href="/front-page">
		Voltar
	</a>
</div>
