.login100-form-title {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: block;
}

.mega-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: none;
    margin: 10px;
    border : 1px solid red;
}

.container-mensagens {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff28;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
  }