<app-imagem-padrao />
<form (ngSubmit)="onSubmit()" class="login100-form validate-form">


	<span class="login100-form-title p-b-34 p-t-27">
		Cadastrar novo Pet
	</span>

	

	<div class="wrap-input100 validate-input">
		<input class="input100" type="text" [(ngModel)]="nomePet" name="nomePet" placeholder="Nome do Pet:" required />
		<span class="focus-input100"></span>

	</div>

	<div class="wrap-input100 validate-input">
		<select class="input100" [(ngModel)]="tipoPet" name="tipoPet" required (change)="onTipoPetChange()">
			<option value="" disabled selected>Selecione o tipo:</option>
			<option value="Cachorro">Cachorro</option>
			<option value="Gato">Gato</option>
		</select>
		<span class="focus-input100"></span>
	</div>

	<div class="wrap-input100 validate-input">
		<input class="input100" type="number" [(ngModel)]="idadePet" name="idadePet" placeholder="Idade do Pet:  (meses)"
			required />
		<span class="focus-input100"></span>
	</div>

	<div class="wrap-input100 validate-input">
		<select class="input100" matNativeControl [(ngModel)]="raca" name="raca" required>
			<option value="" disabled selected>Selecione a raça:</option>
			<option *ngFor="let raca of racas" [value]="raca">{{ raca }}</option>
		</select>
		<span class="focus-input100"></span>
	</div>



	<div class="wrap-input100 validate-input">
		<select class="input100" [(ngModel)]="sexo" name="sexo" required>
			<option value="" disabled selected>Selecione o sexo:</option>
			<option value="Macho">Macho</option>
			<option value="Fêmea">Fêmea</option>
		</select>
		<span class="focus-input100"></span>
	</div>

	<div class="container-login100-form-btn">
		<button type="submit" class="login100-form-btn">
			Cadastrar Pet
		</button>
	</div>
</form>




<div class="text-center p-t-90">
	<a class="txt1" href="/front-page">
		Voltar
	</a>
</div>

<div *ngIf="mensagem" class="mensagem-feedback">
	{{ mensagem }}
</div>