<app-imagem-padrao />
<form (ngSubmit)="onSubmit()" class="login100-form validate-form">

	<span class="login100-form-title p-b-34 p-t-27">
		Editar Livro
	</span>

  <div class="wrap-input100">
    <input class="input100" type="hidden" [(ngModel)]="id" name="id" />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input">
    <input class="input100" type="text" [(ngModel)]="autor" name="autor" placeholder="Autor:" required />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input">
    <input class="input100" type="text" [(ngModel)]="isbn" name="isbn" placeholder="ISBN:" required />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input">
    <input class="input100" type="text" [(ngModel)]="categoria" name="categoria" placeholder="Categoria:" required />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input">
    <input class="input100" type="text" [(ngModel)]="quantidadeEstoque" name="quantidadeEstoque" placeholder="QuantidadeEstoque:" required />
    <span class="focus-input100"></span>
  </div>

	<div class="container-login100-form-btn">
		<button type="submit" class="login100-form-btn">
			Cadastrar
		</button>
	</div>
</form>

<div class="text-center p-t-90">
	<a class="txt1" href="/front-page">
		Voltar
	</a>
</div>

<div *ngIf="mensagem" class="mensagem-feedback">
	{{ mensagem }}
</div>
