<div class="notificacao">
	<span class="numero-notificacoes" *ngIf="numeroDeNotificacoes > 0">{{ numeroDeNotificacoes }}</span>
	<a class="notificacao-botao" *ngIf="isUsuario()" href="/notificacoes">
		✉️
	</a>
</div>


<app-imagem-padrao />


<span class="login100-form-title p-b-34 p-t-27">
	Bem Vindo !
</span>

<div class="icone-frontpage" *ngIf="isAdmin()">
	<a class="icone-frontpage" href="/cadastrar-livro">
		Cadastrar Livro
	</a>
</div>

<div class="icone-frontpage" *ngIf="isAdmin()">
	<a class="icone-frontpage" href="/gerenciar-livros">
		Gerenciar Livros
	</a>
</div>

<div class="icone-frontpage" *ngIf="isAdmin()">
	<a class="icone-frontpage" href="/gerenciar-reservas">
		Gerenciar Reservas
	</a>
</div>

<div class="icone-frontpage" *ngIf="isUsuario()">
  <a class="icone-frontpage" href="/criar-reserva">
    Criar Reserva
  </a>
</div>

<div class="icone-frontpage" *ngIf="isUsuario()">
  <a class="icone-frontpage" href="/visualizar-reservas">
    Visualizar Reservas
  </a>
</div>

<!-- <div class="icone-frontpage">
	<a class="icone-frontpage" href="/listar-meus-agendamentos">
		Verificar meus Agendamentos
	</a>
</div> -->


<div class="text-center p-t-90">
	<a class="icone-frontpage" href="/login">
		<button class="icone-frontpage"(click)="logout()">Sair</button>
	</a>
</div>
