.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1; 
  }

  .container-login100::before {
    content: "";
    display: block;
    position: absolute;
    background-repeat: repeat ;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 30px 30px 30px;
  }

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;

  background: -webkit-linear-gradient(top, #d4a5e8, #e8c5f0);
  background: -o-linear-gradient(top, #d4a5e8, #e8c5f0);
  background: -moz-linear-gradient(top, #d4a5e8, #e8c5f0);
  background: linear-gradient(top, #d4a5e8, #e8c5f0);
}

  @media (max-width: 640px) {
    .wrap-login100 {
      padding: 55px 15px 37px 15px;
    }
  }

  .login100-form-logo {
    font-size: 60px; 
    color: #333333;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
  }
  .imagelogin{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    position: relative;
    
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0 ;
    background-image: url("../assets/images/pattern.png");
    background-repeat: repeat;
    background-size: auto;
    overflow-x: hidden;
  }

  
  